<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">
    <application>
        <activity android:name=".CrashReportActivity"
                  android:exported="false"
                  android:process=":crash_report_process"
                  android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />

        <service android:name=".CrashReportService"
                 android:exported="false"
                 android:process=":crash_report_process" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data android:name="com.matejdro.micropebble.crashreport.CrashReportInitializer"
                       android:value="androidx.startup" />
        </provider>
    </application>
</manifest>
